html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;font-weight:normal;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}

div.field, div.actions {margin-bottom:10px;}
#notice {color:green;}
.field_with_errors {padding:2px;background-color:red;display:table;}
#error_explanation {width:450px;border:2px solid red;padding:7px;padding-bottom:0;margin-bottom:20px;background-color:#f0f0f0;}
#error_explanation h2 {text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;margin-bottom:0px;background-color:#c00;color:#fff;}
#error_explanation ul li {font-size:12px;list-style:square;}

/* Font Styles */

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('Chunkfive-webfont.eot');
    src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('Chunkfive-webfont.woff') format('woff'),
         url('Chunkfive-webfont.ttf') format('truetype'),
         url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Site Styles */

body {background:url(../images/bg_grass.jpg);color:#3d3d3d;margin:0 auto;font-family:arial;}
a {color:#000;}
#wrapper {width:957px;margin:0 auto;background:#d9d9d9;padding:15px 0;box-shadow:0px 0px 10px #818181;-webkit-box-shadow: 0px 0px 10px #818181;-moz-box-shadow:0px 0px 10px #818181;}
#header {
	height:40px;position:relative;width:100%;overflow:hidden;
	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
}
.container {width:980px;margin:0 auto;overflow:hidden;}
#logo {float:left;color:#fff;padding:10px 0 0 25px;}
#navigation {margin-left:120px;}
#navigation ul {position:absolute;bottom:-3px;}
#navigation ul li {display:inline-block;background:#fff;padding:5px 10px 8px 10px;border-radius:3px;}
#navigation ul li a {text-decoration:none;text-transform:lowercase;}
#content {padding:0 15px;overflow:hidden;}
#content .content-nudge {
	background:#fff;padding:30px;border-top-left-radius:5px;border-top-right-radius:5px;width:900px;margin:0 0 0 8px;
	-webkit-box-shadow: 0px 0px 10px 0px #000000;
	-moz-box-shadow: 0px 0px 10px 0px #000000;
	box-shadow: 0px 0px 10px 0px #000000;
}

#footer {
	padding:10px 30px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;width:900px;margin:0 0 8px 8px;
	-webkit-box-shadow: 0px 5px 5px 0px #000000;
	-moz-box-shadow: 0px 5px 5px 0px #000000;
	box-shadow: 0px 5px 5px 0px #000000;	
	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);	
}

#footer a {color:#fff;font-size:0.7em;text-decoration:none;}

#content h2 {text-transform:lowercase;font-size:1.2em;color:#fb8d22;}
#content h3 {text-transform:lowercase;font-size:1.1em;}
#content table {margin:10px 0;}
#content table tr td, #content table tr th {padding:5px;font-size:0.8em;}
#content table tr th {font-weight:normal;font-style:italic;text-transform:uppercase;text-align:left;}

#content .parent-show {float:left;}
#content .parent-show p {margin:10px 0;}
#content .parent-show b {font-weight:bold;}
#content .child-show {margin:10px 0;width:200px;float:left;}
#content .child-show li a {font-size:0.8em;margin:0 0 0 10px;}

#content form {margin:10px 0;}

#ratings {border-top:1px solid;padding:10px 0 0 0;}
.rating-new {margin:10px 0;padding:10px 0 0 0;clear:both;border-top:1px solid #666;}
form#new_rating {margin:10px 0;overflow:hidden;}
form#new_rating p {float:left;}
.rating {color:#fb8d22;font-size:1.5em;float:left;display:block;margin:10px 0 0 40px;}
#rating-values {float:left;height:39px;width:200px;clear:both;background:#fbe400;background:-moz-linear-gradient(top, #fbe400 0%, #f3b300 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbe400), color-stop(100%,#f3b300));background:-webkit-linear-gradient(top, #fbe400 0%,#f3b300 100%);}

div#associations {overflow:hidden;float:right;}
.entry-options {background:#cecece;padding:5px;border:1px solid #999;margin-bottom:15px;}
.entry-options a {text-transform:uppercase;font-size:0.8em;}

#user_nav {float:right;font-size:0.8em;text-transform:uppercase;padding:11px 13px 0 0;color:#fff;}
#user_nav a {text-decoration:none;color:#fff;}

#social-media {position:fixed;top:150px;right:0;width:31px;background:#cecece;border-top-left-radius:5px;border-bottom-left-radius:5px;padding:3px;height:134px;
	-webkit-box-shadow: 0px 0px 10px 0px #000000;
	-moz-box-shadow: 0px 0px 10px 0px #000000;
	box-shadow: 0px 0px 10px 0px #000000;	
}
#social-media li {height:33px;margin-bottom:1px;}

#players, #managers, #teams {width:500px;}
#players h1, #managers h1, #teams h1 {margin:10px 0;text-transform:uppercase;font-family:'ChunkFiveRegular';font-weight:normal;text-shadow: 0 0 2px #000000;}
#details {margin:30px 0 0 0;border-top:1px dashed #cecece;border-bottom:1px dashed #cecece;padding:5px 0;font-size:0.8em;text-transform:capitalize;}
#player-content, #manager-content, #team-content {margin:20px 0;}
#player-rating, #manager-rating, #team-rating {overflow:hidden;}
#rating-values {float:left;}

/* Generic Styles */
.parent-show h1 {font-size:2em;font-weight:bold;color:#fb8d22;}
/* Players */
