<% form_for [rateable, Rating.new] do |f| %>
<% unless @rateable.nil? %>
<% if @rating.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

    <ul>
    <% @rating.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% end %>
  <p>
	<!-- Inclusion of ratings meters from 1 to 10 that pass through specific value each time -->
	<select name="rating[rating_value]">
		<option type="radio" value="1"> 1</option>
		<option type="radio" value="2"> 2</option>
		<option type="radio" value="3"> 3</option>
		<option type="radio" value="4"> 4</option>
		<option type="radio" value="5"> 5</option>
		<option type="radio" value="6"> 6</option>
		<option type="radio" value="7"> 7</option>
		<option type="radio" value="8"> 8</option>
		<option type="radio" value="9"> 9</option>
		<option type="radio" value="10"> 10</option>
	</select>
	<!-- Inclusion of ratings meters from 1 to 10 that pass through specific value each time -->
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>